<article>
    <header>
        <h4>List All Todos</h4>
    </header>

    <a href="/todo/create" role="button">Add New</a>

    <figure>
        <table>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Done</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% todos.forEach(function(todo, i) {%>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= todo.name %></td>
                    <td><%= todo.is_done == 0 ? 'No' : 'Yes' %></td>
                    <td>
                        <a href="/todo/<%= todo.id %>/edit">edit</a>
                        |
                        <a href="/todo/<%= todo.id %>/delete">delete</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </figure>
</article>
